*,
*:after,
*:before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 35px;
  text-align: center;
}
main {
  display: flex;
  height: 100%;
  width: 100%;
}
.right-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(red, yellow);
  height: 100%;
  width: 20%;
}
.left-bar {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(red, yellow);
  height: 100%;
  width: 20%;
}
.icon {
  font-size: 120px;
  padding-top: 100px;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  width: 60%;
}
.gradient-box {
  width: 399px;
  height: 399px;
  margin: auto;
  background-image: linear-gradient(blue, red, purple);
}
.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 140px;
  width: 400px;
  height: 400px;
}
.header-txt{
  margin-top: 50px;
}
.instruction-txt {
  font-size: 20px;
  font-style: italic;
  padding-top: 50px;
}
.cell{
  background-color: white;
  text-align: center;
  font-size: 70px;
}
