html {
  height: 100%;
  width: 100%;

}
body {
  display: flex;
  align-items: column;
   margin: 0;
  height: 100%;
  font-family: 'Open Sans';
  font-size: 16px;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
    border: 2px solid pink;
    width: 60%;
}
.right-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(yellow, red);
  width: 20%;
}
.left-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(red, yellow);

  width: 20%;

 }
.grid{
  /* display: flex; */
  flex-wrap: wrap;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; */
  width: 70%;
  height: 50%;
}
.cell {
  color: pink;
  font-size: 24px;
  border: 3px solid black ;


  text-align: center
}
.cell-1{
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
